@import '../../sass/styles';

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 222px;
  justify-content: center;

  &TypeMainArticle {
    grid-template-columns: 66% 34%;
    grid-template-rows: 630px;
  }

  &TypeMainVideo {
    grid-template-columns: 32% 68%;
    grid-template-rows: 1fr;
  }

  &TypeArticle {
    grid-template-rows: 224px 222px;
  }

  &TypeIdentical {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 520px;
    gap: 30px;
  }

  &TypeIframe {
    grid-template-columns: 420px 1fr;
    grid-template-rows: 627px;
    gap: 30px;
  }

  &TypePersonalArea {
    max-width: 1170px;
    padding-top: 80px;
    grid-template-columns: 40% 60%;
    grid-template-rows: 470px;

    &:first-of-type {
      padding-top: 50px;
    }
  }
}



@include atDesktop1440 {
  .container {

    &TypeMainArticle {
      grid-template-columns: 1fr 1fr;
    }

    &TypeIdentical {
      grid-template-rows: 414px;
    }

    &TypeIframe {
      grid-template-columns: 370px 1fr;
    }
  }
}

@include atDesktop1380 {
  .containerTypePersonalArea {
    grid-template-columns: 1fr;
    grid-template-rows: 450px 1fr;
    padding-top: 30px;

    &:first-of-type {
      padding-top: 30px;
    }
  }

}

@include atDesktop1024 {
  .container {

    &TypeMainArticle {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 188px;
    }

    &TypeMainVideo {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 147px;
    }

    &TypeArticle {
      grid-template-rows: 176px 188px;
    }

    &TypeIdentical {
      grid-template-rows: 382px;
    }

    &TypeIframe {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 552px;
    }
  }
}

@include atTabletL {
  .container {
    &TypeIdentical {
      grid-template-columns: 1fr;
      grid-template-rows: 382px 290px;
    }

    &TypeIframe {
      grid-template-columns: 1fr;
      grid-template-rows: 433px 1fr;
    }
  }
}

@include atMobile {
  .container {
    grid-template-columns: minmax(290px, 450px);

    &TypeIdentical {
      grid-template-columns: minmax(290px, 450px);
    }

    &TypeIframe {
      grid-template-columns: minmax(290px, 450px);
    }

    &TypePersonalArea {
      grid-template-rows: 290px 1fr;
    }
  }
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(290px, 1fr));
  gap: 80px 30px;

  &ContentSmallCards {
    grid-template-columns: repeat(4, minmax(290px, 1fr));
  }
}

@include atDesktop1440 {
  .cardsGrid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

@include atDesktop1024 {
  .cardsGrid {
    padding-top: 50px;
    row-gap: 30px;
  }
}

@include atTablet {
  .cardsGrid {
    grid-template-columns: 1fr;
    padding-top: 30px;
  }
}
