@import '../../../sass/styles';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 37px 30px 15px;
  border-radius: 30px;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;

  // цвета карточек
  &ColorYellow {
    background-color: $yellow;
  }

  &ColorGreen {
    background-color: $green;
  }

  &ColorPink {
    background-color: $pink;
  }

  &ColorBlue {
    background-color: $lightBlue;
  }

  // разделение по наполнению
  &ContentAnnotation {
    align-items: flex-start;
    padding: 30px;
  }

  &ContentBook {
    padding: 30px;
  }

  &ContentVideo {
    padding: 0;
  }

  &ContentFriendship {
    padding: 0;
    justify-content: center;
  }

  &ContentMedia {
    padding: 0;
    justify-content: center;
  }

  &ContentVideoDescription {
    padding: 30px;
  }

  &ContentArticle {
    padding-top: 120px;
    padding-bottom: 30px;
    height: 490px;
  }

  // главная карточка на страницах Куда пойти и Статьи
  &TypeMain {
    padding-top: 47px;
    padding-bottom: 30px;
  }

  // разделение по формам
  &FormSquare {
    border-radius: 3px;
    &::before {
      content: '';
      padding-bottom: 100%;
    }
  }

  &FormCircle {
    border-radius: 100%;
    &::before {
      content: '';
      padding-bottom: 100%;
    }
  }

  &FormArch {
    border-radius: 300px 300px 3px 3px;
    &::before {
      content: '';
      padding-bottom: 100%;
    }
  }
}

// обертки
.cardLinkWrap {
  width: 100%;
  text-decoration: none;

  &Events {
    margin-top: 70px;
    margin-bottom: 15px;
  }
}

.cardTitleWrap {
  text-align: center;
}

.cardVideoInfo {
  box-sizing: border-box;
  padding: 15px 30px;
  text-align: center;
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// текстовые элементы
.cardTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}

.cardTitleCaption {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}

.caption {
  margin: 0;
  font-family: $ptRootUI;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: $darkGray;
}

.cardLink {
  margin-top: auto;
}

.cardFriendshipLink {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-color: rgba($black, .6);
}

.cardRubric {
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  padding: 2px 7px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, .3);
  font-family: $ptRootUI;
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: $darkGray;
  text-transform: uppercase;

  &Events {
    white-space: nowrap;
    position: absolute;
    top: 15px;
  }
}

.chapterTitle {
  margin: 0;
  font-family: $protoGrotesk;
  font-weight: 300;
  font-size: 44px;
  line-height: 1.1;
  color: $black;

  &_clickable {
    color: $blue;
    text-decoration: none;
    transition: .2s linear;

    &:hover {
      color: $darkBlue;
    }
  }
}

.chapter-title_type_test {
  margin-top: 40px;
}

.cardQuote {
  margin: 0 auto;
  max-width: 970px;
  text-align: center;
  color: #1a1a1a;
}

// фото на главной карточке
.cardImg {
  width: 100%;
  height: 394px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}

// фото на карточке c главной страницы

.cardFriendshipImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// видео на карточке попапа
.cardVideoIframe {
  margin: 0;
  padding-bottom: 30px;
  width: 100%;
  height: 100%;
  max-width: 1710px;
  max-height: 962px;
  border: none;
}

.cardIframe {
  width: 100%;
  height: 100%;
  border: none;
}

// карточка с аннотацией
.cardContent {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #e8e6e6 transparent;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #e8e6e6;
    border-radius: 5px;
  }
}

.cardAnnotationCaption {
  margin-bottom: 10px;
}

.cardAnnotation {
  padding-right: 5px;

  &PositionMainCard {
    margin-top: 95px;
  }

  &TypeMainArticle {
    margin-top: 120px;
  }
}

.link {
  display: inline-block;
  font-family: $protoGrotesk;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
  text-decoration: none;
  letter-spacing: 0.2px;
  color: $blue;
}

.link_type_test {
  margin-top: 40px;
}

.paragraph {
  margin: 0;
  font-family: $ptRootUI;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: $black;
}

.paragraph_type_test {
  padding-top: 50px;
  max-width: 472px;
}

.cardParagraph {
  margin-top: 30px;

  &:first-of-type {
    margin: 0;
  }
}

@include atDesktop1440 {
  .cardImg {
    &_position_main-article {
      margin-top: 10px;
    }
  }

  .cardVideoIframe {
    max-width: 1100px;
    max-height: 625px;
  }
}

@include atDesktop1024 {
  .card {
    padding-left: 15px;
    padding-right: 15px;

    &TypeMain {
      padding-top: 37px;
      padding-bottom: 15px;
    }

    &ContentAnnotation {
      padding-right: 7px;
      padding-bottom: 30px;
    }

    &ContentBook {
      padding: 30px;
    }

    &ContentVideo {
      padding: 0;
    }

    &ContentMedia {
      padding: 0;
    }

    &ContentVideoPreview {
      padding: 15px;
      grid-row: 2;
    }

    &ContentArticle {
      padding-top: 30px;
      padding-bottom: 15px;
      height: 312px;
    }
  }

  .cardVideoInfo {
    padding: 15px;
    height: 147px;
  }

  .cardLinkWrap {
    &_content_article-img {
      margin-top: 60px;
    }
  }

  .cardImg {
    height: 345px;

    &PositionMainArticle {
      margin-top: 40px;
    }
  }

  .cardAnnotationCaption {
    margin-bottom: 5px;
  }

  .cardAnnotation {

    &PositionMainCard {
      margin-top: 0;
    }
  }

  .cardParagraph {
    margin-top: 10px;
  }

  .cardQuote {
    max-width: 690px;
    font-size: 19px;
    line-height: 1.2;
  }

  .caption {
    font-size: 12px;
  }

  .link {
    font-size: 12px;
    line-height: 1.4;
  }

  .paragraph {
    font-size: 15px;
  }

  .chapterTitle {
    font-size: 23px;
    line-height: 1.3;
  }
}

@include atMobile {
  .card {
    &ContentQuote {
      max-width: 450px;
      margin: 0 auto;
    }

    &ContentVideo {
      max-width: 450px;
      margin: 0 auto;
    }

    &ContentMedia {
      max-width: 450px;
    }

  }

  .cardLinkWrap {
    &ContentArticleImg {
      margin-top: 40px;
    }
  }

  .cardImg {
    height: 142px;

    &PositionMainArticle {
      margin-top: 20px;
    }
  }
}
